<table class="table table-primary">
    <tr>
        <th colspan="4">Student List</th>
    </tr>
    <tr>
        <th>No.</th>
        <th>Name</th>
        <th>Age</th>
        <th>Avatar</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Minh</td>
        <td>20</td>
        <td>
            <img src="https://duhocvinedu.edu.vn/wp-content/uploads/2020/11/university-of-greenwich-diem-den-day-uy-vong-o-nuoc-anh.jpg" width="100" height="100" />
        </td>
    </tr>
    <tr>
        <td>1</td>
        <td>Minh</td>
        <td>20</td>
         <td>
            <img src="https://duhocvinedu.edu.vn/wp-content/uploads/2020/11/university-of-greenwich-diem-den-day-uy-vong-o-nuoc-anh.jpg" width="100" height="100" />
        </td>
    </tr>
    <tr>
        <td>1</td>
        <td>Minh</td>
        <td>20</td>
         <td>
            <img src="https://duhocvinedu.edu.vn/wp-content/uploads/2020/11/university-of-greenwich-diem-den-day-uy-vong-o-nuoc-anh.jpg" width="100" height="100" />
        </td>
    </tr>
</table>



<h1 class="mau_do in_nghieng gach_chan">Hello world</h1>
<h6>Heading 6</h6>

<a href="https://greenwich.edu.vn/">
    <img src="https://duhocvinedu.edu.vn/wp-content/uploads/2020/11/university-of-greenwich-diem-den-day-uy-vong-o-nuoc-anh.jpg"
         width="150px" height="120px" />
</a>


<br />
<br />
<br />
<br />
<iframe width="360" height="215" src="https://www.youtube.com/embed/mven7QakJEo?si=Aeifvl3APdh-ciyl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>